<!DOCTYPE html>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
{% extends 'navbar.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Read</title>
</head>
<body>
Read
<hr>
<table style="width:25%">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th colspan="2" >Actions</th>
  </tr>
  {% for i in html_data %}
  <tr>
    <td>{{ i.id }}</td>
    <td>{{ i.name }}</td>
    <td>{{ i.description }}</td>
    <td>{{ i.price }}</td>
    <td><a href="/update/{{ i.id }}">Update</a></td>
    <td><a href="/delete/{{ i.id }}">Delete</a></td>
  </tr>
  {% endfor %}
</table>
<!--{% for i in html_data %}-->
<!--{{ i.name }}, {{ i.description }}, {{ i.price }}-->
<!--{% endfor %}-->
</body>
{% endblock content %}
</html>