{% extends 'navbar.html' %}
{% block content %}
<h1>Services Offered Registration</h1>

<form method="POST" action="">
    {% csrf_token %}
    <pre>
Name:        <input type="text" name="s_name" value="" width="200"> <br><br>
Description: <input type="text" name="s_description" value="" width="200"> <br><br>
Price:       <input type="text" name="s_price" value="" width="200"> <br><br>
<input type="submit" value="Submit">
    </pre>
</form>
<hr>

<h1>Services Offered</h1>
{% for i in data %}
Service ID: {{ i.id }} <br>
Service Name : {{ i.s_name }} <br>
Service Price: {{ i.s_price }} <br>
Service Description: {{ i.s_description }} <br>
<pre>
<a href="/service/{{i.id}}">Update</a> | <a href="/delete/{{i.id}}">Delete</a>
</pre>
<br>
{% endfor %}
{% endblock %}