<!DOCTYPE html>
{% extends 'navbar.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
Service Details. <br><br>
<form action="/service/{{ data.id }}/" method="POST">
    {% csrf_token %}
    <input type="text" value="{{ data.s_name }}" name="prodname">
    <input type="text" value="{{ data.s_description }}" name="desc">
    <input type="text" value="{{ data.s_price }}" name="price">
    <input type="submit" value="Update">
</form>
</body>
</html>
{% endblock %}