<!DOCTYPE html>
{% load static %}
<style>
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
div {
  padding:10px;
  width:95%;
  display:inline-block;
}
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content</title>
</head>
<body>
<h1>Welcome to my website</h1>

<p>This is a short description.</p>

<div class="grid-container">

<div style="background-image: url('{% static 'images/logo.png' %}');">
  <h2>Contact</h2>
  <p>Add1: Chennai</p>
  <p>Add2: TamilNadu</p>
  <p>Contact: 044 4258464482</p>
</div>

<div style="background-color:#FFC0C7;">
  <h2>Oslo</h2>
  <p>Oslo is the capital city of Norway.</p>
  <p>Oslo has over 600.000 inhabitants.</p>
</div>

</div>
</body>
</html>