<!DOCTYPE html>
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NavBar</title>
</head>
<body>
    <div class="container-fluid">
    <ul class="nav bg-info ">
        <li class="nav-item">
            <a class="nav-link link-light" href="/landing">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="/login_page">LOGIN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="/login_page">CONTACT</a>
        </li>
    </ul>

    {% block content %}
    {% endblock %}
</div>
</body>
</html>